<template>
    <small>
        Vasilyok. Escrito por Anna Zubkova. Traducido del Inglés por Keenan Murphy, Andrés Silva y Luis Alfredo Martinez B.

        <p>Editado por Vladimir Antonov. Leído por Sebastian Silva.</p>
        <a href="mundo-magico.pdf">Descarga el texto en PDF</a>.
        <br>Fuente original y otros cuentos: <a href="https://swami-center.org/es/text/mundo-magico/">swami-center.org</a>.
        <br><i>Gracias a los autores / Thanks to the authors.</i>

    </small>
</template>
